html, body {
	font-family: 'EB Garamond', serif;
	top:0;
	left:0;
	padding:0;
	width:100%;
	margin:0;
}

a {
	text-decoration:none;
	color:white;
}

.header {
	float:right;
	margin:1%;
	margin-top:-20%;
}

h1 {
	font-weight:400;
	font-style:italic;
	font-size:3em;
	padding-bottom:0;
	margin-bottom:0;
	text-transform:uppercase;
	color:#AD9B85;
	line-height: 0.8em;
	width:100%;
	text-align:right;
	margin-left:-20%;
}

.header h4 {
	margin-top:0;
	padding-top:0;
	margin-left:30%;
	width:50%;
	text-align:right;
	color: #AD9B85;
	font-weight:400;
}

.container {
	width:100%;
	height:400%;
}

#seal {
	position:relative;
	margin:auto;
	height:100%;
	margin-top:-32%;
}

#decor-top, #decor-bottom {
	height:50px;
	width:20%;
	position:absolute;
	margin:35%;
	z-index:1;
	vertical-align:middle;
}

#top-feet1, #bottom-feet1{
	width:30%;
	display:inline-block;
	margin-left:15%;
	vertical-align:middle;
	margin-top:-15%;

}

#top-head, #bottom-head {
	width:40%;
	display:inline-block;
	margin-left:-15%;
	vertical-align:middle;
	margin-top:-15%;

}

#top-feet2, #bottom-feet2 {
	z-index:110;
	width:30%;
	display:inline-block;
	margin-left:-15%;
	vertical-align:middle;
	margin-top:-15%;
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#decor-top{
	margin-top:-41%;
	animation: dip-down 10s infinite;
	-webkit-animation: dip-down 10s infinite;
}

#decor-bottom{
	margin-top:-1%;
	animation: dip-up 10s infinite;
	-webkit-animation: dip-up 10s infinite;
}

#outer-ring{
	position:absolute;
	margin-top:5%;
	border-radius:50%;
	margin-left:30%;
	height:400px;
	width:400px;
	background-color:#534741;
	z-index:98;
	animation: counter-spin 20s infinite;
	-webkit-animation: counter-spin 20s infinite;
}

#inner-circle {
	position:absolute;
	margin-top:25%;
	margin-left:25%;
	border-radius:50%;
	height:200px;
	width:200px;
	background-color:white;
	z-index:99;
}

#wheelbox1, #wheelbox2, #wheelbox3, #wheelbox4, #wheelbox5, #wheelbox6,
#wheelbox7, #wheelbox8, #wheelbox8{
	height:50px;
	width:100px;
	display:block;
}

#wheelbox1 {
	margin-left:38%;
	margin-top:5%;

}

#wheelbox2 {
	margin-left:65%;
	margin-top:0%;
	transform: rotate(45deg);

}

#wheelbox3 {
	margin-left:75%;
	margin-top:15%;
	transform: rotate(90deg);

}

#wheelbox4 {
	margin-left:62%;
	margin-top:15%;
	transform: rotate(130deg);

}

#wheelbox5 {
	margin-left:40%;
	margin-top:-2%;

}

#wheelbox6 {
	margin-left:12%;
	margin-top:-25%;
	transform: rotate(-130deg);

}

#wheelbox7 {
	margin-left:0%;
	margin-top:-40%;
	transform: rotate(-90deg);

}

#wheelbox8 {
	margin-left:10%;
	margin-top:-40%;
	transform: rotate(-45deg);


}

#top-spin1, #top-spin2, #top-spin3, #top-spin4, #top-spin5, #top-spin6, #top-spin7, #top-spin8 {
	height:150px;
	width:50px;
	display:block;
	z-index:1;
	position:relative;
}

#top-spin1 {
	margin-top:0%;
	margin-left:70%;
	transform: rotate(30deg);
}

#top-spin2 {
	margin-left:89%;
	margin-top:-8%;
	transform: rotate(75deg);
}

#top-spin3 {
	margin-left:90%;
	margin-top:-5%;
	transform: rotate(110deg);
}


#top-spin4 {
	margin-left:75%;
	margin-top:-5%;
	transform: rotate(140deg);
}

#top-spin5 {
	margin-left:15%;
	margin-top:-30%;
	transform: rotate(-140deg);
}

#top-spin6 {
	margin-left:2%;
	margin-top:-55%;
	transform: rotate(-110deg);
}

#top-spin7 {
	margin-left:2%;
	margin-top:-55%;
	transform: rotate(-75deg);
}

#top-spin8 {
	margin-left:20%;
	margin-top:-55%;
	transform: rotate(-30deg);
}

#rings {
	margin-top:5%;
	margin-left:25%;
	height:500px;
	width:500px;
	animation: spin 10s infinite;
	-webkit-animation: spin 10s infinite;
	z-index:0;

}

@keyframes spin {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

@keyframes counter-spin {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(-360deg);}
}

@keyframes dip-up {
	0% {margin-top:1%;}
	10% {margin-top:1%;}
	50% {margin-top:-20%;}
	100% {margin-top:1%;}
}

@keyframes dip-down {
	0% {margin-top:-40%;}
	10% {margin-top:-40%;}
	50% {margin-top:-20%;}
	100% {margin-top:-40%;}
}

#featured {
	position:absolute;
	height:300px;
	width:100px;
	margin-top:-33%;
	margin-left:42%;
	transform:rotate(-10deg);
	z-index:101;
}

#featured-head {
	height:25%;
	width:auto;
	margin-top:50%;
	z-index:102;
}
#featured-top{
	margin-top:-50%;
	height:70%;
	z-index:103;
	width:auto;
}
#featured-feet{
	margin-top:-50%;
	z-index:104;
	height:20%;
	width:100%;
}

.controls {
	position:absolute;
	width:3%;
	height:20%;
	display:block;
	float:left;
	z-index:200;
}

.refresh {
	background-color:#666666;
	color:white;
	text-align:center;
	width:100%;
	padding:10%;
	top:0;
	left:0;
	position:relative
	font-size:2em;
	cursor:pointer;
}

.refresh:hover, .play:hover, .stop:hover, .previous:hover, .next:hover {
	background-color: #C7B299;
}

.play, .stop, .previous, .next{
	background-color:#666666;
	color:white;
	text-align:center;
	width:100%;
	padding:10%;
	left:0;
	font-size:1em;
	cursor:pointer;
	font-family: 'EB Garamond', serif;
}

.caption {
	margin-left:78%;
	margin-top:20%;

}

.caption h2 {
	font-weight:600;
	text-transform:uppercase;
	font-size:0.8em;
	color: #666666;
	letter-spacing:0.2em;
}

.caption text {
	font-family: 'EB Garamond', serif;
	font-weight:400;
	font-size:1em;
	color: #AD9B85;
	font-style:italic;
}

.mobileDisplay{
    width:100%;
    height:100%;
    display:none;
}

.mobileMessage {
    margin:auto;
    text-align:center;
    vertical-align:middle;
    padding:30%;
    display:block;
    margin-top:10%;
}

.mobileMessage p {
    font-size:2em;
    display:block;
}

@media screen and (min-width:1920px) {
	#seal {
	position:relative;
	margin:auto;
	height:100%;
	margin-top:-30%;
	margin-left:0%;
	}
	#featured {
	position:absolute;
	height:300px;
	width:100px;
	margin-top:-26%;
	margin-left:39%;
	transform:rotate(-10deg);
	z-index:101;
	}

	#featured-head {
		height:25%;
		width:auto;
		margin-top:50%;
		z-index:102;
	}
	#featured-top{
		margin-top:-50%;
		height:70%;
		z-index:103;
		width:auto;
	}
	#featured-feet{
		margin-top:-50%;
		z-index:104;
		height:20%;
		width:100%;
	}
	#decor-top, #decor-bottom {
	height:50px;
	width:20%;
	position:absolute;
	margin:35%;
	margin-left:31%;
	z-index:1;
	vertical-align:middle;
	}
	@keyframes dip-up {
	0% {margin-top:3%;}
	10% {margin-top:3%;}
	50% {margin-top:-20%;}
	100% {margin-top:3%;}
	}
	@keyframes dip-down {
	0% {margin-top:-30%;}
	10% {margin-top:-30%;}
	50% {margin-top:-20%;}
	100% {margin-top:-30%;}
	}
	.caption {
	margin-left:72%;
	margin-top:20%;
	}

	.caption h2 {
		font-weight:600;
		text-transform:uppercase;
		font-size:1.5em;
		color: #666666;
		letter-spacing:0.2em;
	}

	.caption text {
		font-family: 'EB Garamond', serif;
		font-weight:400;
		font-size:1.5em;
		color: #AD9B85;
		font-style:italic;
	}
	#rings {
	margin-top:0%;
	margin-left:27%;
	height:500px;
	width:500px;
	animation: spin 10s infinite;
	-webkit-animation: spin 10s infinite;
	z-index:0;
	}
	.header {
	float:right;
	margin:1%;
	margin-top:-18%;
	}
	h1 {
		font-weight:400;
		font-style:italic;
		font-size:2em;
		padding-bottom:0;
		margin-bottom:0;
		text-transform:uppercase;
		color:#666666;
		width:100%;
		text-align:right;
		margin-left:-45%;
	}
	.header h4 {
		margin-top:0;
		padding-top:0;
		margin-left:0%;
		width:50%;
		text-align:right;
		color: #AD9B85;
		font-weight:400;
	}
	#outer-ring{
	position:absolute;
	margin-top:3%;
	border-radius:50%;
	margin-left:30%;
	height:400px;
	width:400px;
	background-color:#534741;
	z-index:98;
	animation: counter-spin 20s infinite;
	-webkit-animation: counter-spin 20s infinite;
}


}

 @media screen and (max-width:1000px) {
 	.header {
 		display:block;
 		width:100%;
 		margin:auto;
 	}
}